/* TO DO - bottom margin is white beflow  */

@import url('https://fonts.googleapis.com/css?family=Varela+Round');

:root {
  /* font: 700 1em/1.4 poppins, Verdana, sans-serif; */
  font-family: 'Poppins', sans-serif;
  color: rgb(87, 88, 91);
}

* {
  box-sizing: border-box;
}

html {
  background-color: rgb(255, 255, 255);
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: 3rem;
}

.nav-link {
  text-decoration: none;
  color: rgb(87, 88, 91);
  padding-top: 10px;
  margin-left: 2rem;
}
.nav-link:hover {
  color: #f0324d;
}

.topHeader {
  margin-top: 2rem;
}

.callUsText {
  margin-top: 4rem;
  font-size: 14px;
  font-weight: bold;
  color: black;
}

.redText {
  color: rgb(240, 50, 77);
}

.redNumText {
  font-size: 18px;
  font-weight: 1000;
  color: rgb(240, 50, 77);
}

.addressText {
  margin-top: -0.75rem;
  font-size: 10px;
}

.freeText {
  font-size: 40px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 900;
  text-align: left;
  margin: 0;
}

.squiggleImg {
  height: 12px;
  width: 50px;
  /* padding-top: 4rem; */
  /* background-image: url('./images/squiggle.png;'); */
}

.oilChangeTextBox {
  /* margin-top: -1.5rem; */
  text-align: left;
  display: flex;
  flex-direction: column;
  /* border: solid green 3px; */
  width: 55%;
  justify-content: space-around;
  /* padding-top: 0; */
}

/* .carouselBox {
  padding: 0;
} */

.napaSquiggleBox {
  /* margin-top: -1.5rem; */
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* border: solid green 3px; */
  width: 8%;
  justify-content: flex-end;
  margin-top: 3.7rem;
  align-self: flex-end;
}

.oilChangeText {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.smallText {
  font-size: 12px;
  padding-top: 6px;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

.submitContainer {
  display: flex;
  flex-direction: row;
  /* border: solid blue 3px; */
  justify-content: left;
  width: 57%;
  margin-top: 7px;
  margin-bottom: 5px;
}

.VeteranSubscribeBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 20%;
  /* border: solid red 3px; */
  background-color: 'transparent';
}

.submitBox {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* border: solid pink 3px; */
  width: 100%;
}

.crumbContainer {
  /* display: flex;
  /* border: solid red 2px; */
  /* width: 45%; */
  /* justify-content: center; */
  /* margin-bottom: -5rem; */
  /* height: 222px;
  position: absolute;  */
}

.pageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .veteranInputBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  padding: 0;
  margin-left: 20px;
  border: solid green 3px;
  background-color: 'transparent';
} */

.inputField {
  height: 30px;
  width: 20%;
  font-family: 'Poppins', sans-serif;
  font-size: 8px;
  border: none;
  box-shadow: 0 0 25px 0 rgba(179, 179, 179, 1);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  /* margin-bottom: 0.5rem; */
  padding-left: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.subscribeButton {
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  height: 30px;
  width: 20%;
  font-size: 9px;
  /* border: solid pink 3px; */
  font-family: 'Poppins', sans-serif;
}

.subscribeButton:hover {
  background-color: rgb(240, 50, 77);
}

.redeemBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  width: 140px;
  padding-bottom: 5rem;
  /* border: solid red 2px; */
}

.redeemContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.redeemButton {
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  height: 30px;
  width: 80%;
  font-size: 9px;
  font-weight: 1000;
  font-family: 'Poppins', sans-serif;
}

.redeemButton:hover {
  background-color: rgb(240, 50, 77);
}

.specialAd {
  /* width: 50%; */
}

.smallLink {
  font-size: 8px;
}

.nextBox {
  /* border: solid red 2px; */
  background-image: url('/images/newcarcollage.jpg');
  height: 10rem;
  width: 100%;
  background-size: cover;
}

.specialAd {
  display: flex;
  /* border: solid black 4px; */
}

.homepageSpecialsContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-end; */
  align-items: right;
  /* margin-left: auto; */
  width: 100%;
  /* border: solid green 3px; */
  /* justify-content: right; */
  /* text-align: right; */
}

.homepageSpecialsBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* border: solid blue 3px; */
}

.homepageSpecialsText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* border: solid blue 3px; */
  text-align: right;
}

.homepageSpecialsTitle {
  margin-top: 0.5rem;
  font-weight: 900;
  margin-bottom: -1.6rem;
  text-align: right;
}

.reviewBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid blue 2px; */
}

.reviewText {
  text-decoration: underline;
  text-align: center;
  font-size: 13px;
}

.bottomFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(25, 25, 25);
  padding-top: 3rem;
  /* padding-left: 20rem; */
  padding-bottom: 4rem;
  /* border: solid red 3px; */
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footerLogo {
  display: flex;
  justify-content: center;
  width: 20%;
  align-items: initial;
  /* border: solid green 2px; */
  padding: 0;
  margin: 0;
  margin-top: -10px;
}

.whiteTitle {
  color: white;
  font-weight: 1000;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.contactFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: auto;
  /* border: solid white 3px; */
  margin: 10px;
}

.footerList {
  /* border: solid purple 2px; */
  margin: 0;
  padding: 0;
}

.footerList li {
  font-size: 12px;
  margin-bottom: 8px;
}

.bottomNavList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  /* border: solid red 3px; */
  max-width: 320px;
}

.footerNav {
  list-style: none;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  width: 30%;
  display: flex;
  flex-direction: column;
  /* border: solid white 3px; */
}

.bottomNavList li {
  padding-bottom: 15px;
  /* border: thin solid pink; */
}

.bottomNavList li a:hover {
  text-decoration: underline;
  color: white;
}

.footerList li {
  color: grey;
}

.footerLinks {
  text-decoration: none;
  color: grey;
  margin-top: 5rem;
  /* width: 50%; */
  /* border: solid red 3px; */
}

.servicePageLinks {
  color: black;
  text-decoration: none;
  /* width: 50%; */
  /* border: solid red 3px; */
}

.servicesList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  list-style: none;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
  /* border: solid red 3px; */
  max-width: 100%;
}

.servicesListItem {
  list-style: square;
  color: black;
}

.servicePageLinks a {
  color: black;
  text-decoration: none;
  /* width: 50%; */
  /* border: solid red 3px; */
}

.nonLinkedServiceItem {
  color: black;
  text-decoration: none;
  list-style: disc;
  /* width: 50%; */
  /* border: solid red 3px; */
}

.servicePageLinks:hover {
  text-decoration: underline;
  color: grey;
  margin-top: 5rem;
  font-weight: 900;
  /* width: 50%; */
  /* border: solid red 3px; */
}

.servicesContainer {
  /* border: solid red 2px; */
  width: 80%;
  margin-left: 5rem;
  margin-right: 5rem;

  justify-content: center;
  /* padding: 5rem; */
}

.servicesBox {
  /* border: solid green 2px; */
  width: 70%;
  justify-content: center;
  display: flex;
}

.whiteBold {
  color: white;
  font-weight: 200;
  font-size: 0.8rem;
  padding-right: 0.7rem;
}

/* 
.bottomBar {
  display: flex;
  flex-direction: row;
} */

.testDiv {
  position: absolute;
}

.control-dots {
  margin: 0;
  padding: 0;
}

.carouselButton {
  margin: 0;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  /* position: absolute;
  left: 693px;
  top: 280px; */
  background-color: white;
  border: none;
  border-radius: 7px;
  color: navy;
  /* height: 40px;
  width: 140px; */
  font-size: 11px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.carouselButton:hover {
  color: white;
  background-color: #f0324d;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}

.warrantyImg {
  object-fit: cover;
}

.warrantyCarouselText {
  /* position: absolute;
  left: 270px;
  top: 100px; */
  color: white;
  /* font-size: 0.1em;
  transform: scale(1.5, 1.8); */
  font-family: 'Poppins', sans-serif;
  font-size: 400em/1.5em;
  /* border: solid red 2px; */
  /* width: 40%;
  text-align: right; */
  font-weight: 100;
}

.napaBackgroundTitle {
  margin: 0;
  color: white;
  /* position: absolute; */
  /* left: 40rem;
  top: 2rem; */
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 900;
  font-stretch: normal;
  font-size: 2.2em;
  /* line-height: 1.5em; */
  font-family: Intro, Verdana, sans-serif;
  text-transform: uppercase;
}

.vetTopHeader {
  margin: 0;
  color: white;
  /* position: absolute; */
  /* left: 40rem;
  top: 2rem; */
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 800;
  font-stretch: normal;
  font-size: 2em;
  /* line-height: 1.5em; */
  font-family: Intro, Verdana, sans-serif;
  text-transform: uppercase;
  /* border: solid red 2px; */
}

.vetNextHeader {
  margin: 0;
  color: white;
  /* position: absolute; */
  /* left: 40rem;
  top: 2rem; */
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 900;
  font-stretch: normal;
  font-size: 3em;
  /* line-height: 1.5em; */
  font-family: Intro, Verdana, sans-serif;
  text-transform: uppercase;
  /* border: solid red 2px; */
}

.vetContainer {
  /* border: solid pink 4px; */
}

.vetText {
  color: white;
  /* border: solid red 2px; */
  font-weight: 600;
}

.vetSubText {
  color: white;
  font-size: 10px;
  /* border: solid red 2px; */
  font-weight: 300;
  text-align: left;
}

/* .napaBackgroundLocationtest {
  position: absolute;
  left: 550px;
  top: 175px;
  font-size: 1.1rem;
  font-weight: 900;
} */

.napaBackgroundLocation {
  margin: 0;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 900;
  font-stretch: normal;
  font-size: 1rem;
  /* line-height: 1.5em; */
  font-family: Intro, Verdana, sans-serif;
}

.warrantyCarouselTitle {
  /* position: absolute;
  left: 270px;
  top: 20px; */
  color: white;
  /* font-size: 0.1em;
  transform: scale(1.5, 1.8); */
  font-family: 'Poppins', sans-serif;
  font-size: 400em/1.5em;
  /* width: 40%;
  text-align: right; */
  font-weight: 100;
}

.yellowText {
  text-decoration: underline;
  color: #faad14;
}

.napaDiv {
  text-align: center;
  /* border: solid green 3px; */
  display: flex;
}

.flexThis {
  display: flex;
  flex-direction: row;
  /* color: red; */
  text-decoration: none;
  align-items: flex-end;
}

.flexThis a {
  display: flex;
  flex-direction: row;
  color: red;
  text-decoration: none;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 20px;
  text-transform: uppercase;
}

.dropdownNavContent {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownNavContent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  font-weight: 700;
  display: block;
}

.dropdownNavContent a:hover {
  /* background-color: #ddd; */
  color: #f0324d;
}

.dropdownNav:hover .dropdownNavContent {
  display: block;
}

.dropdownNav:hover .dropdownServicesButton {
  color: #f0324d;
}

.dropdownNav {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #666;
  padding-top: 10px;
  margin-left: 2rem;
}

.dropdownServicesButton {
  background-color: rgb(255, 255, 255);
  color: rgb(87, 88, 91);
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.burgerLink {
  color: white;
}

.servicesHamburgerDropdown:active {
  color: #f0324d;
}

/* CSS for AdviceServiceCouponComponent */

.event-info {
  padding: 10px;
}

.events-box {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
  /* color: black; */
  border: solid rgb(65, 159, 173) 4px;
  background-color: rgb(166, 224, 166);
  font-size: 28px;
  list-style: none;
  /* height: 7rem; */
  align-items: center;
  margin-bottom: 10px;
}

.eventsList1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
  color: black;
  /* border: solid rgb(65, 159, 173) 4px; */
  /* background-color: rgb(166, 224, 166); */
  font-size: 28px;
  list-style: none;
  /* height: 7rem; */
  align-items: center;
}

.eventsList1 li {
  margin: auto 20px;
}

/* .event-info {
  margin-left: 6rem;
  margin-right: 6rem;
  background-color: rgba(255, 255, 255, 0.7);

  z-index: 10;
} */

p {
  /* margin-right: 2rem; */
}

.innerDiv {
  flex: 1;
  font-size: 1.5rem;
  /* margin-left: 60px; */
}

/* .innerDiv:last-child {
  margin-right: 60px;
} */

.tips-advice,
.coupons,
.services {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tips-advice {
  background-image: url('/images/tips-and-advices.jpg');
}

.coupons {
  background-image: url('/images/our-coupons.jpg');
}

.services {
  background-image: url('/images/our-services.jpg');
}

.innerDiv h2 {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  padding-bottom: 10px;
}

.innerDiv h2::after {
  position: relative;
  top: 10px;
  right: -25%;
  content: '';
  width: 100%;
  height: 40px;
  border: thick solid transparent;
  border-top-color: red;
}

.innerDiv h2 em {
  color: red;
  font-style: normal;
  font-size: 3rem;
  line-height: 2rem;
}

.innerDiv .cta {
  font-size: 1rem;
  text-align: right;
}

.innerDiv .cta .button {
}

.subscribeButton {
  background-color: black;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 13px 40px 13px 40px;
  height: 30px;
  width: 20%;
  font-size: 15px;
  /* border: solid pink 3px; */
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.subscribeButton:hover {
  background-color: rgb(240, 50, 77);
}

.creditsFooter {
  border-top: thin white 5px;
}

.homeScheduler {
  margin-top: 5rem;
  width: 100%;
  /* border: solid purple 2px; */
  /* display: flex; */
}

.appointmentTitle {
  display: flex;
  width: 90%;
  /* border: solid red 2px; */
  font-size: 14px;
  margin-bottom: 0;
}

.topHalf {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  /* border: solid green 2px; */
  /* height: 500px; */
}

.homeAppointmentInstructions {
  text-align: right;
  /* border: solid yellow 3px; */
  color: rgb(240, 50, 77);
  line-height: 0.75;
  /* width: 30%; */
  flex: 1;
  /* font-size: 6px; */
}

.homeAppointmentPhoto {
  /* border: solid blue 2px; */
  background-image: url('/images/bookappointment.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  /* border: solid purple 3px; */
  flex: 1;
}

.leftArea {
  flex: 1;
  /* border: solid blue 3px; */
}

.rightArea {
  /* border: solid green 3px; */
  flex: 1;
}

.homeScheduleInnerDiv {
  /* border: solid black 2px; */
  max-width: 900px;
}

.homeScheduleInnerDiv .row {
  display: flex;
  justify-content: center;
}

.homeScheduleContainer {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: solid purple 2px; */
  height: 20rem;
  width: 100%;
}

.lineInput {
  background: transparent;
  font-size: 18px;
  color: grey;
  border: none;
  width: ;
}

.lineInput:focus {
  background: transparent;
  /* border-bottom: 1px solid rgb(240, 50, 77); */
  color: red;
}

.homeScheduleInnerDiv .control {
  flex: 1;
  margin: 10px;
  border-bottom: thin solid black;
  padding-bottom: 15px;
}

.homeScheduleInnerDiv .control.double {
  flex: 2;
}

.homeScheduleInnerDiv label {
  text-transform: uppercase;
  font-size: 0.8em;
}

.homeAppointmentReasonContainer {
  display: flex;
  justify-content: center;
  /* border: solid red 2px; */
  width: 100%;
}

.homeAppointmentReasonDiv {
  /* border: solid green 2px; */
  width: 65.3%;
  justify-content: flex-start;
  display: flex;
  margin-top: 10px;
}

.homeAppointmentField {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 18px;
  color: grey;
}

.homeAppointmentField:focus {
  background: transparent;
  border: none;
  /* border-bottom: 1px solid rgb(240, 50, 77); */
  color: red;
}

.breadCrumbDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: auto;
  flex: 1;
  width: 78%;
}

.carTable {
}

.breadCrumbTextt {
  color: red;
  text-decoration: none;
}

.servicesTitle {
  margin-top: 2rem;
  text-align: left;
  /* border: solid red 2px; */
  width: 80%;
  /* color: red; */
  /* margin-bottom: .8rem; */
  line-height: 0.8;
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  font-weight: 900;
  color: black;
}

.servicesBodyText {
  width: 80%;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.reviewTable {
  /* border: solid red 2px; */
  /* display: flex; */
  width: 90%;
  margin-top: 4.8rem;
}

.reviewBox {
  border-top: solid rgb(180, 180, 180, 0.5) 1px;
  border-bottom: solid rgb(180, 180, 180, 0.5) 1px;

  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5px;
}

.reviewList {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.reviewInfo {
  border-right: solid rgba(180, 180, 180, 0.5) 1px;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
}

.reviewInfo li {
  margin-bottom: 2px;
}
.lineInput .reviewText {
  display: flex;
  flex-direction: column;
  /* border: solid purple 4px; */
  justify-content: center;
  align-items: flex-start;
  flex: 3;
  height: 5rem;
  font-size: 1.8vh;
  text-decoration: none;
  text-align: left;
  margin-left: 10px;
}

.hey {
  border-bottom: 1px solid grey;
}

.greyText {
  color: grey;
}

.reasonField {
  height: 50px;
}

textarea,
select,
input,
button {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
  height: 50px;
}

.scheduleCalendar {
  width: 50%;
}

.scheduleInputDiv {
  display: flex;
}

.scheduleTitles {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.warningBox {
  border: solid black 1px;
  border-radius: 4px;
  margin-top: 0.75rem;
  line-height: 0.75;
  padding: 10px 14px 10px 10px;
  font-size: 13px;
  background-color: rgb(254, 255, 206);
}

.nameContainer {
  display: flex;
  justify-content: space-between;
  width: 46%;
}

.emailContainer input,
.nameContainer input,
.phoneContainer input {
  border: solid 1px rgba(110, 110, 110, 0.438);
  border-radius: 2px;
  height: 10px;
}

.phoneContainer {
  display: flex;
}

.phoneEmptyDiv {
  /* border: solid red 2px; */
  flex: 0.5;
}

.phoneInput {
  display: flex;
  width: 100%;
}

.emailContainer {
  display: flex;
}

label {
  line-height: 0.5;
}

.appointmentSendButton:hover {
  background-color: rgb(240, 50, 77);
}

.affiliateLogos {
  margin: 0.75rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.affiliateLogos a {
  margin-left: 10px;
  margin-right: 10px;
}

.ada-icon {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.phoneNumber {
  font-size: 16px;
}

.socialMediaFooter {
  margin: 10px;
  width: auto;
  /* border: solid green 2px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialLogoIcons {
  display: flex;
}

.dropdownNavContent a {
  text-transform: uppercase;
}

.contactUsContainer h3 {
  text-transform: uppercase;
}

.contactSendButton {
  width: 100%;
  /* border: solid purple 3px; */
  display: flex;
  justify-content: center;
}

.specialsRedeemButton {
  width: 100%;
  /* border: solid purple 3px; */
  display: flex;
  justify-content: center;
}

.contactSendDiv {
  width: 80%;
  /* border: solid purple 3px; */
  display: flex;
  justify-content: center;
}

.specialsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: right;
  width: 100%;
  /* border: solid red 2px; */
}

.specialsBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: right;
  /* width: 50%; */
  /* border: solid blue 2px; */
  flex: 1.25;
}

.specialsSpacer {
  flex: 4;
  /* border: solid green 2px; */
  height: auto;
}

.specialsActions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.welcomeText {
  line-height: 0.1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.welcomeText h1 {
  font-size: 48px;
  color: white;
  text-transform: uppercase;
}

.welcomeText h3 {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .mediaImg {
    height: 175px;
    width: 225px;
  }
  .welcomeText {
    justify-content: center;
    align-items: center;
    max-width: 400px;
  }

  .welcomeText h1 {
    font-size: 30px;
  }

  .welcomeText h3 {
    font-size: 12px;
  }

  .bottomFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(25, 25, 25);
    padding-top: 3rem;
    /* padding-left: 20rem; */
    padding-bottom: 4rem;
    /* border: solid green 3px; */
    justify-content: center;
    align-items: center;
  }

  .bottomNavList {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    /* border: solid red 3px; */
    /* max-width: 899px; */
    width: 100%;
  }
}

@media (max-width: 900px) {
  .affiliateResize {
    display: flex;
    flex-direction: column;
  }

  .affiliateLogos {
    display: flex;
    flex-direction: column;
    margin: 50px;
  }

  .affiliateLogos a {
    margin: 15px;
  }
}

.amsoilLogo {
  height: 45px;
}

.aseLogo {
}

.atiLogo {
  height: 130px;
}

.bgLogo {
}

.napaLogo {
}

.jasperLogo {
  height: 50px;
}

.boschLogo {
  height: 35px;
}

.snaponLogo {
  height: 30px;
}

.boschLogo {
}

.carquestLogo {
  height: 70px;
}

.rcLogo {
  height: 50px;
}

.michelinLogo {
  height: 30px;
}

/* @media (max-width: 900px) {
  .whiteTitle {
    width: 100%;
  }
} */
