@import url('https://fonts.googleapis.com/css?family=Varela+Round');

:root {
  font: 16px / 1 sans-serif;
}

html {
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #666;
  padding-top: 10px;
}

.topLogo {
  margin-top: -28rem;
}
/* 
            body {
              font-family: 'Varela Round', sans-serif;
            }
            
            *,
            *::after,
            *::before {
              box-sizing: border-box;
            }
.topHeader {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #fc466b;
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
} */
